@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>Small, but mighty.</h3>

<p>
    TechTracker is your solution to all your tech tracking needs. <br />
    We're a small team, but work to make the most out of today's technology to help your business succeed. <br /> <br />
    Please reach out if we can help make TechTracker work better for you.
</p>