@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Let us know how we can help.</h3>

<address>
    <abbr title="Phone">P:</abbr>
    454.689.3265 <br />
    6 Tracker Way<br />
    Techville, FL 35555-9699<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@TechTracker.com">Support@TechTracker.com</a><br />
    <strong>Billing:</strong> <a href="mailto:Billing@TechTracker.com">Billing@TechTracker.com</a>
</address>