@{ ViewBag.Title = "Home Page"; }
<div class="jumbotron">
    <h1>
        TechTracker
    </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>
            Help Desk Ticketing, Simplified
        </h2>
        <p>
            TechTracker allows your team to easily log all service requests in real time.
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            Process requests more efficiently
        </h2>
        <p>
            Ensure that no problem is ever overlooked with our open ticket reports.
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            Track technician workloads and progress
        </h2>
        <p>
            Make sure your staff has the tools they need to deliver successful results.
        </p>
    </div>
</div>